body{
    background-color: #1E202B;
}

#home{
    background-image: url(banner\ \(1\).png);
    height:400px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.navbar{
    height: 70px;
}
.footer{
    background-color: #262936 ;
}
.card{
    background-color: #2b2b2e;
    height:100%;
    color: white;
}

.card-title{
    font-size: 90px;
}
.together {
    color:rgb(191, 193, 200)
}
p{
    color: white;
}

.card-last{
    background-color:  #262936  ;
}

.max{
    font-size:24px
}
.borderX{
    border: solid 2px #009AD8 !important
}
.test{
    background-color: transparent;
    color: grey;
    border: 1px solid grey ;
}
.test:hover{
    border: 1px solid #009AD8;
}
.sendBtn{
    background-color: #009AD8;
    color: white;
    
}

a{
    text-decoration: none;
    color: white;
}
li .active{
    font-weight: 700;
}
.company-details i{
    color:#009AD8
}
.place{
    border: solid 1px transparent;
    border-radius: 15px;
    width: 100%;
    margin-top: 50px;
    height: 400px;
    background-color: rgb(22, 67, 109);
}

.img-spec{
    width: 5%;
}
#firstcard{
    position: relative;
    transform: translateY(-50%);
}

.social i{ 
    background-color: #1E202B;
    border: 1px solid transparent;
    color: #009AD8;
    border-radius: 50%;
    font-size: 20px;
    

}
.social i:hover, .btnSub , .findBtn{
    color: white;
    background-color: #009AD8;
}
.btnSub, findBtn{
    border: 1px solid transparent;
}

.searchbar input{
    border: 1px solid #1E202B;
    background-color: #1E202B;
}
form textarea{
    border: 1px solid white;
    border-radius: 20px;
}